
*.user
*.orig
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.ReSharper
*.docstates
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.DotSettings
AssemblyInfoCommon.cs
AssemblyInfoStrongName.cs
*.fbl6
*.fbpInf
*.vsmdi
*.ncrunch*
*_TeamCity*

packages/FAKE.3.35.4/docs/*.*
tools/FAKE/**/*.*
tools/**/*.*
packages/**/*.*
CreateNugetPackage.bat
Fake.TestProject/tools/FAKE/**/*.*
Fake.TestProject/packages/**/*.*
Fake.TestProject/tools/**/*.*
.fake/*.*
Fake.TestProject/.fake/*.*
Fake.TestProject/Publish/**/*.*
Fake.TestProject/tools/PhantomJS/tools/phantomjs/ChangeLog
Fake.TestProject/*.nupkg
